<script src="Javascript/script.js"></script>
</main>
<hr>
<footer>
    <p style="bottom: 0; left: 0; text-align: left; color: rgb(100, 0, 194);" dir="ltr">Designed and Powered by: <a target="_blank" href="https://wa.me/966565915014"><i style="color: rgb(10, 200, 0);" class="bi bi-whatsapp"></i></a> <a style="text-decoration: none; " target="_blank" href="https://www.instagram.com/g20s_?igsh=MWRyZWd0Njk0MWFkbg%3D%3D&utm_source=qr"><i style="color: rgb(121, 55, 235); font-size: 1rem;" class="bi bi-instagram"></i></a></p>

</footer>
</body>

</html>