<%- include("partials/Header.ejs") %>
<section class="hero" style="    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) , url('/images/hoo 1.png') no-repeat center center/cover;
">
    <div class="hero-content">
        <h1>Towards More Sustainable Energy Sources</h1>
        <div class="cards" style="margin-top: 200px;">
            <div class="card">
                <div class="icon">📈</div>
                <h3>Global energy growth:</h3>
                <p>Renewable energy represents about 80% of the total increase in new electrical capacity.</p>
            </div>
            <div class="card">
                <div class="icon">⚡</div>
                <h3>In (2023):</h3>
                <p>About 29% of the world's electricity comes from renewable sources such as sun and wind.</p>
            </div>
            <div class="card">
                <div class="icon">💰</div>
                <h3>Investing:</h3>
                <p>Global investment in renewable energy in 2023 reached approximately $500 billion.</p>
            </div>
        </div>
    </div>
</section>

<%- include("partials/Footer.ejs") %>