<%- include("partials/Header.ejs") %>
<section class="hero" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) , url('/images/page2.jpg') no-repeat center center/cover;">
    <div class="hero-content">
        <h1><span>Learn</span> more about energy <br> and its different sources</h1>
        <div class="info-cards">
            <div class="info-card">
                <h3>Safety</h3>
                <p>Energy safety means taking preventive measures to ensure the safety of people, equipment, and the environment during the production, transmission, and use of energy.</p>
                <a href="/html/Safety.html" class="read-more">Read More →</a>
            </div>
            <div class="info-card">
                <h3>Renewable Energy</h3>
                <p>Energy produced from natural, renewable sources. It is clean and environmentally friendly because it does not produce harmful emissions or consume non-renewable resources.</p>
                <a href="/html/Renewable.html" class="read-more">Read More →</a>
            </div>
            <div class="info-card">
                <h3>Energy</h3>
                <p>Energy is the ability to perform work or cause change, and it comes in several forms such as electricity, heat, and light.</p>
                <a href="/html/Energy.html" class="read-more">Read More →</a>
            </div>
        </div>
    </div>
</section>
<%- include("partials/Footer.ejs") %>
